body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #ffffff;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #1c1e22;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(161, 235, 210);
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.countdown-section {
    margin: 0 10px;
}

.countdown-number {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    background: #444;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid white;
}

.countdown-label {
    display: block;
    margin-top: 5px;
    font-size: 1rem;
}

.message {
    margin-top: 20px;
    font-size: 1.2rem;
}
